{% extends "base3.html" %}

{% block content %}
<style>
    #available{
        color: green;
    }
    #not_available{
        color: red;
    }
    .container{
        margin-top: 20px;
    }
    .card{
        max-width: 75%;
        margin-left: 100px;
        display: flex;
    }
    .card-title{
        font-weight: bold;
        color: orangered;
    }
    .card img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
</style>


<div class="container">
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-5">
        {% if doctor.image %}
        <img src="{{ doctor.image.url }}" class="card-img-top" alt="...">
        {% endif %}     
     </div>
      <div class="col-md-7">
        <div class="card-body">
            <h5 class="card-title">{{ doctor.user.name }}</h5>
            <p class="card-text">Email: {{ doctor.user.email }}</p>
            <p class="card-text">License Number: {{ doctor.license_number }}</p>
            <p class="card-text">Designation: {{ doctor.Designation }}</p>
            <p class="card-text">Department: {{ doctor.Department }}</p>
            <p class="card-text">Profile: {{ doctor.profile }}</p>
            <p class="card-text">Address: {{ doctor.address }}</p>
            <p class="card-text">Phone: {{ doctor.phone }}</p>

            {% if doctor.is_available %}

                {% if doctor.has_requested %}

                <p id="not_available" class="card-text">Already requested</p>

                {% else %}

                <p id="available" class="card-text">Available</p>

                <a href="{% url 'book_appointment' doctor.pk %}" class="btn btn-primary">Book Doctor</a>

                {% endif %}

            {% else %}
            <p id="not_available" class="card-text">Not available</p>
            {% endif %}
            
            
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
