<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>PharmEasy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}"> <!-- New custom CSS file -->

  <script src="https://kit.fontawesome.com/234803766d.js" crossorigin="anonymous"></script>
  <style>
    
  </style>
</head>

<body>

  <div class="site-wrap">
    <div class="site-navbar py-2">
      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="{% url 'search-medicine' %}" method="GET" class="search-form">
            <input type="text" class="form-control" name="q" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
                <a href="{% url 'index' %}" class="js-logo-clone"><img id="logo" src="{% static 'images\pharmeasy-high-resolution-logo.png' %}" style="width: 150px;height: 100px;"></a> <!-- Fix image tag -->
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="{% url 'customerpanel' %}">Home</a></li>
                <li class="has-children">
                  <a href="#">Store</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'medicines_list' %}">Medicines</a></li>
                    <li><a href="{% url 'listdevices' %}">Clinical Devices</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="#">Services</a>
                  <ul class="dropdown">
                    <li><a href="">Doctor</a></li>
                  </ul>
                </li>
                <li><a href=""><i class="fa-solid fa-user"></i> {{ request.user.username }}</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="{% url 'search-medicine' %}" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="{% url 'cart_view' %}" class="icons-btn d-inline-block heart" style="color: red;">
              <span class="icon-heart"></span>
          </a>
            <a href="{% url 'med_cart_view' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{count}}</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
  
</body>
</html>
