{% extends 'doctorbase.html' %}

{% block content %}
<style>
    h1 {
        margin-top: 30px;
    }
    .table {
        background-color: aliceblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
<div class="container">
    <center>
        <h1>Request List</h1>
    </center>
    {% if bookings %}
        <table align="center" class="table table-hover" style="width: 80%;">
            <thead>
                <tr class="table-active">
                    <th scope="col">User Name</th>
                    <th scope="col">Date Selected</th>
                    <th scope="col">Time</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.patient.username }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td><a href="{% url 'approve' booking.id %}">Approve</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Empty list.</p>
    {% endif %}
</div>
{% endblock %}
